# Ignore everything in the root except the specified files
/*

!/.azure
/.azure/*
!/.azure/alias
!/.azure/config

!/.azure-shell
/.azure-shell/*
!/.azure-shell/shell-config

!/.bash
!/.bash_completion
!/.bash_profile
!/.bashrc
!/.bashrc-remote

!/.bin
/.bin/local/*

!/.cache
/.cache/*

!/.dotfiles
!/.digrc

!/.drush
/.drush/cache

!/.elinks
/.elinks/*
!/.elinks/elinks.conf

!/.gitconfig
!/.github
!/.gitignore

!/.grip
/.grip/cache*
/.grip/settings-local.py

!/.hidden
!/.hushlogin
!/.inputrc

!/.local
/.local/*
!/.local/share/
/.local/share/*
!/.local/share/bash-completion/
/.local/share/bash-completion/*
!/.local/share/bash-completion/completions/

!/.minttyrc
!/.multipass
!/.new/
!/.pam_environment
!/.ref/

!/.ssh
/.ssh/*
!/.ssh/config
!/.ssh/*.pub
/.ssh/google_compute_engine.pub
/.ssh/id_rsa.pub

!/.sudo_as_admin_successful
!/.sqliterc
!/.templates/
!/.tmux.conf
!/.tmux_cheatsheet

!/.vim
/.vim/autoload/plug.vim.old
/.vim/plugged/

!/.vimrc

!/.Xmodmap

.ea-php-cli.cache
.nfs*
*.pyc

!.gitkeep
